<!DOCTYPE html>
<html lang="en">
<div th:replace="fragments/head :: head(title='Neighborhood Watcher')"></div>
<body>
    <main role="main" class="container">
        <div class="jumbotron text-white bg-dark">
            <h1>Neighborhood Watcher</h1>
            <p class="lead">Welcome to your Neighborhood Watcher - this application tracks details about the homes and vehicles in your neighborhood.</p>
        </div>

        <div class="d-flex justify-content-around">

	        <div class="card text-center bg-light" style="width: 300px;">
	            <img class="card-img-top" th:src="@{${homesCardImagePath}}" alt="Browse homes">
	            <div class="card-body">
	                <h5 class="card-title">Browse Homes</h5>
	                <p class="card-text">Examine details about the homes in your neighborhood.</p>
	                <a th:href="@{homes}" class="btn btn-primary">Browse</a>
	            </div>
	        </div>
	
	        <div class="card text-center bg-light" style="width: 300px;">
	            <img class="card-img-top" th:src="@{${vehiclesCardImagePath}}" alt="Browse vehicles">
	            <div class="card-body">
	                <h5 class="card-title">Browse Vehicles</h5>
	                <p class="card-text">See which vehicles have been spotted in your neighborhood.</p>
	                <a th:href="@{vehicles}" class="btn btn-primary">Browse</a>
	            </div>
	        </div>
	        
	        <div class="card text-center bg-light" style="width: 300px;">
	            <img class="card-img-top" th:src="@{${observeCardImagePath}}" alt="Record observations">
	            <div class="card-body">
	                <h5 class="card-title">Record Observations</h5>
	                <p class="card-text">Out for a walk?  Submit information about what you've seen.</p>
	                <a th:href="@{recordObservation}" class="btn btn-primary">Record</a>
	            </div>
	        </div>

        </div><!-- end div.justify-content-between -->

    </main>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>
