<!DOCTYPE html>
<html lang="en">
<div th:replace="fragments/head :: head(title='Neighborhood Watcher - Record Observations')"></div>
<body>
    <main role="main" class="container">
        <div class="jumbotron text-white bg-dark">
            <h1>Neighborhood Watcher - Record</h1>
            <p class="lead">Enter the details of what you've seen in the form below.</p>
        </div>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Record Observations</li>
            </ol>
        </nav>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Record Your New Observations</h5>
                <form action="#" th:action="@{/recordObservation}" th:object="${newObservation}" method="post">

					<div class="form-group row">
						<label for="selectedHomeId" class="col-sm-2 col-form-label">Home</label>
						<select class="col-sm-10 form-control" th:field="*{selectedHomeId}" required>
							<option value="">(select)</option>
							<option th:each="h : ${homes}" th:value="${h.id}" th:text="${h.numberStreet}"/>
						</select>
					</div>

                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-sm-2 pt-0">Garage</legend>
                            <div class="col-sm-10">
                                <div class="form-check" th:each="e : ${T(com.simco.watcher.model.GarageStatus).values()}">
                                    <input class="form-check-input" type="radio" th:field="*{garageStatus}" id="garageStatusRadio" th:value="${e}">
                                    <label class="form-check-label" for="garageStatusRadio" th:text="${e.displayName}">Radio label</label>
                                </div>
                            </div>
                       </div>
                    </fieldset>

					<fieldset class="form-group">
						<div class="row">
							<legend class="col-form-label col-sm-2 pt-0">House Lights</legend>
							<div class="col-sm-10">
	    						<div class="form-check" th:each="e : ${T(com.simco.watcher.model.HomeLightsStatus).values()}">
	                                <input class="form-check-input" type="radio" th:field="*{lightsStatus}" id="lightsStatusRadio" th:value="${e}">
	                                <label class="form-check-label" for="lightsStatusRadio" th:text="${e.displayName}">Radio label</label>
	                            </div>
							</div>
					   </div>
					</fieldset>

                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-sm-2 pt-0">For Sale?</legend>
                            <div class="col-sm-10">
                                <div class="form-check" th:each="e : ${T(com.simco.watcher.model.HomeForSaleStatus).values()}">
                                    <input class="form-check-input" type="radio" th:field="*{forSaleStatus}" id="forSaleStatusRadio" th:value="${e}">
                                    <label class="form-check-label" for="forSaleStatusRadio" th:text="${e.displayName}">Radio label</label>
                                </div>
                            </div>
                       </div>
                    </fieldset>

                    <fieldset class="form-group">
                        <div class="row">
                            <legend class="col-form-label col-sm-2 pt-0">Contractor Sign?</legend>
                            <div class="col-sm-10">
                                <div class="form-check" th:each="e : ${T(com.simco.watcher.model.ContractorStatus).values()}">
                                    <input class="form-check-input" type="radio" th:field="*{contractorStatus}" id="contractorStatusRadio" th:value="${e}">
                                    <label class="form-check-label" for="contractorStatusRadio" th:text="${e.displayName}">Radio label</label>
                                </div>
                            </div>
                       </div>
                    </fieldset>

                    <button type="submit" class="btn btn-primary">Submit</button>

                </form>
            </div>
        </div>

    </main>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>
